@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap");

.App {
  width: auto;
  max-height: 100%;
  padding: 30px;
  background-color: darkcyan;
  font-family: "Comfortaa", cursive;
}
.add__student__form__box {
  text-align: center;
  margin-bottom: 15px;
}
.add__student__form__box input {
  width: 400px;
  height: auto;
  padding: 3px;
  text-align: center;
  font-size: 17px;
  border: none;
  outline: none;
  margin: 0px 10px 0px 0px;
  border-radius: 3px;
  font-family: "Comfortaa", cursive;
}
.add__student__form__box button {
  width: 120px;
  padding: 5px;
  font-size: 14px;
  font-family: "Comfortaa", cursive;
}
.box__container {
  width: auto;
  height: auto;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}
.all__student__list,
.all__present__student,
.all__absent__student {
  min-width: 300px;
  min-height: 300px;
  padding: 15px;
  background: white;
  border-radius: 10px;
}
.word__mening {
  min-width: 120px;
  min-height: 300px;
  padding: 15px;
  background: white;
  border-radius: 10px;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
ul li {
  width: auto;
  height: auto;
  padding: 5px 10px;
  background: #189d91;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 5px;
  color: white;
  margin: 10px;
}
h2 {
  padding: 0;
  margin: -5px auto 0px auto;
  font-size: 22px;
  text-align: center;
  font-weight: 600;
}
